# IDE
.idea/
.vscode/
runs_money/
# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/

# Java
target/
*.class

# Environment files
.env
.env.*

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Build
dist/
build/


Bắt bài.txt
Hướng dẫn.m4a

data/*

#/Yolo Model/runs
Plan.docx
Đề xuất mô hình cho nhận diện tiền Việt và OCR trên di động.docx
đọc văn bản.docx
Bắt bài.txt
analyze.docx